@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
@import '@fontsource/lato/400.css';

/*
@theme {
	--color-oatmeal-50: oklch(0.957 0.002 18);
	--color-oatmeal-100: oklch(0.922 0.005 0.44);
	--color-oatmeal-200: oklch(0.837 0.01 9.74);
	--color-oatmeal-300: oklch(0.761 0.017 8.4);
	--color-oatmeal-400: oklch(0.675 0.028 6.08);
	--color-oatmeal-500: oklch(0.582 0.037 6.73);
	--color-oatmeal-600: oklch(0.495 0.03 9.47);
	--color-oatmeal-700: oklch(0.408 0.027 7.72);
	--color-oatmeal-800: oklch(0.322 0.021 8.71);
	--color-oatmeal-900: oklch(0.225 0.015 3.49);
	--color-oatmeal-950: oklch(0.178 0.012 8.78);
}*/

html {
	font-family: 'Google Sans Flex', sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-variation-settings:
		'slnt' 0,
		'wdth' 100,
		'GRAD' 0,
		'ROND' 0;
}

::selection {
	background: var(--color-indigo-200);
	color: var(--color-indigo-900);
}
/*
mark {
	background: var(--color-lime-200);
	color: var(--color-lime-900);
}
*/
