@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
@import '@fontsource/lato/400.css';

html {
	font-family: 'Lato', sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

::selection {
	background: var(--color-slate-300);
	color: var(--color-slate-900);
}
